//colors
$white: #f4f5f0;
$green: #ebefe2;
$light-green: #4e8839;
$main-font-color: #566358;
$blog-font-color: #455a64;
$gray: #5d5a55;
$light-gray: #f8f9f5;


//includes
@import "mixins/mixins.scss";
@import "layout/fonts.scss";
@import "layout/font-awesome.scss";
@import "layout/base.scss";

@import "components/**/*";