* {
	box-sizing: border-box;
	// transition: all .3s;
}
html{
	font-size: 16px;

	@include tablet() {
		font-size: 14px;
	}

}

body, html {
  margin: 0;
  height: 100%;
}

body {
	font-family: "robotoregular", Arial, sans-serif;
	color: $main-font-color;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
	// max-width: 1200px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
p{
	margin: 0;
}
a {
	text-decoration: none;
}

input, textarea{
	border: 0;
	outline: 0;
	@include placeholder{
		color: rgba($gray, .5);
	}
	font-size: 16px;
	font-family: "robotomedium";
}

a,
.burger__line {
	transition: all .4s
}