.about {
  display: flex;
  flex-direction: row;
}

.about__left, .about__right {
  display: flex;
  width: 50%;
}

.about__left {
  background: $green;
}

.about__right {
  background: $white;
  display: flex;
  flex-direction: column;
  & p{
    padding-left: 40px;
  }
}

.about__right-title{
  text-align: center;
  & .block-subtitle{
    width: 380px;
  }
}

.about__right-description{
  margin-bottom: 58px;
}

.about__left-title{
  float: left;  
  width: 50%;
}
.about__left-content{
  float: left;
	width: 50%;
}


