.block-title {
  font-size: 63px;
  text-transform: uppercase;
  color: #373e42;
  font-family: "sansus";
  padding: 20px 60px;
  position: relative;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

}

.block-title__text{
  text-align: center;
  
    &:after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 89px;
    height: 3px;
    background: $main-font-color;
  }
}