.footer{
   position: absolute;
   bottom: 0;
   width: 100%;
}

.footer_blog{
    position: static;
}

.footer__top{
    background: rgba(47, 50, 52, .9);
    padding: 25px 0;
}
.footer__container{
    display: flex;
    flex-wrap: wrap;
    @include phone() {
        text-align: center;
    }
    
}

.footer__col{
    width: 33%;
    padding: 0 30px;
    @include tablet() {
    flex: 1 1 300px;
    padding: 0 15px;
  }
}
.footer__col-left{
    @include phone() {
        margin-bottom: 20px;
    }
}

.footer__col-mid{
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgba(255,255,255,.2);
    border-right: 2px solid rgba(255,255,255,.2);
    @include phone() {
    border-left: none;
    border-right: none;
    border-top: 2px solid rgba(255,255,255,.2);
    border-bottom: 2px solid rgba(255,255,255,.2);
    margin-bottom: 20px;
    padding-top: 20px;
    }
}

.footer__col-right{
    @include tablet() {
        margin-top: 20px;
    }
    @include phone() {
        margin-top: 0;
    }
}


.footer_quote{
    font-size: 16px;
    font-family: "robotolight_italic";
    color: rgba($white, .4);
}
.author{
    font-family: "robotobold_italic";
    color: rgba($white, .5);
}
.footer__menu{
   margin-bottom: 30px;
   display: flex;
}


.footer__socials{
   margin-bottom: 23px;
}

.menu{
    width: 100%;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu__link{
    vertical-align: middle;
    font-size: 15px;
    font-family: "robotobold";
    color: rgba($white, .9);
    @include tablet() {
    font-size: 14px;
  }
}
.footer__bottom{
    background: rgba(128, 169, 113, .9);
    text-align: center;
    padding: 9px 0 15px;
    
    span {
        display: inline-block;
        margin-left: 5px;
        color: rgba($white, .7);
        font-size: 16px;
        font-family: "robotologht";
    }
}

.welcome .footer__bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: none;
}
.footer__text{
    display: inline-block;
    color: rgba($white, .7);
    font-size: 16px;
    font-family: "robotologht";
}