.footer{
   position: absolute;
   bottom: 0;
   width: 100%;
}

.footer__top{
    background: rgba(47, 50, 52, .9);
    @extend %clearfix;
}
.footer__col{
    float: left;
    width: 33%;
    padding: 30px;

}



.footer_quote{
    font-size: 16px;
    font-family: "robotolight_italic";
    color: rgba($white, .4);
}
.author{
    font-family: "robotobold_italic";
    color: rgba($white, .5);
}
.footer__menu{
   margin-bottom: 30px;
}

.footer__socials{
   margin-bottom: 23px;
}
.menu__item{
    display: inline-block;
    margin-right: 40px;
}
.menu__link{
    vertical-align: middle;
    font-size: 15px;
    font-family: "robotobold";
    color: rgba($white, .9);
}
.footer__bottom{
    background: rgba(128, 169, 113, .9);
}

.footer__bottom{
    text-align: center;
    padding: 9px 0 15px;
}

.footer__text{
    color: rgba($white, .7);
    font-size: 16px;
    font-family: "robotologht";
}