.hero {
  overflow: hidden;
  height: 100vh;
  
}

.hero-background{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  min-height: 1272px;
}

.hero-background__img{
  height: 125%;
  min-width: 100%;
  display: block;
  margin: 0 auto;
}

.hero_blog{
    height: 466px;
    min-height: 466px;
    padding: 14px 30px;
    background: url("../../assets/img/bg/welcome_bg.jpg") 50%;
    background-size: cover;
}

.hero__bg {
  width: 1920px;
  position: absolute;
  display: block;
  height: 100%;
}

.hero__container {
  position: relative;
  height: 100%;
    @extend %clearfix;
}

.hero__title {
  right: 0;
  left: 0;
  @include centered(y);
}

.hero__user {
  @include centered();
  text-align: center;
}

.hero__user-content{
  position: relative;
}

.hero__scroll-button {
  bottom: 91px;
  @include centered(x);
}