.google-map__bg{
    width: 100%;
    display: block;
}

.google-map{
    background: url(/assets/img/bg/map_bg.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1120px;
}