.triangles {
    @extend %clearfix;
}

// .triangles__left,
// .triangles__right{
//     float: left;
//     width: 50%;
//     position: relative;
//     height: 100%;
// }

.triangles{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 100%;
    fill: #f8f9f5;
    font-size: 0;
}