.works__title{
    background: #f8f9f5
}

.block-title__works{
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 35px;
}

.section-works{
    min-height: 650px;
    position: relative;
}