extends ../_template

block variables
  - var title = 'Мои работы'

block content
  section.section.hero
    img.hero__bg(src="/assets/img/bg/welcome_bg.jpg")
    .hero__container
      .hero__socials
        ul.socials
          each item in ['vk', 'github', 'in']
            li.socials__item
              a(href=`${item}`).socials__link
                svg.socials__link-img
                  use(xlink:href="/assets/img/sprite.svg#"+item)
      .burger.hero__menu
        .burger__line.burger__line_1
        .burger__line.burger__line_2
        .burger__line.burger__line_3
      .arrow-down.hero__scroll-button
        svg.arrow-down__pic
          use(xlink:href="/assets/img/sprite.svg#arrow_down")
      .hero__title
        .section-title
          svg.section-title__pic
            use(xlink:href="/assets/img/sprite.svg#portfolio_header")
        .user.hero__user
          .user__pic
            img(src="/assets/img/content/avatar-big.jpg", alt="").user__pic-img
          .user__description
            .user__name Сергей Винокуров
            .user__desc Личный сайт разработчика
  section.section.works
    .triangles
      svg.traingles__works(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 130', preserveaspectratio='none')
        polygon.left(points='0,0   0,130   500.8,130   500.8,113')
        polygon.right(points='1000,0   1000,130   500,130   500,113')
    .works__title
      .block-title(style="background-image: url('/assets/img/bg/works_header_bg.png')")
        